astroid==3.3.10
blinker==1.9.0
click==8.2.1
dill==0.4.0
flask==3.1.1
iniconfig==2.1.0
isort==6.0.1
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==3.0.2
mccabe==0.7.0
packaging==25.0
platformdirs==4.3.8
pluggy==1.6.0
portfolio @ file:///Users/billypresume/JHU/Terms/Summer%202025/Classes/EN.605.256.8VL.SU25%20-%20Modern%20Software%20Concepts%20in%20Python/jhu_software_concepts/module_1
pylint==3.3.7
pytest==8.3.5
tomlkit==0.13.2
werkzeug==3.1.3
yapf==0.43.0
