<!-- Navbar Component -->
<nav class="bg-white shadow-md sticky top-0 z-50 h-12">
  <div class="max-w-screen-xl mx-auto px-4 h-full flex items-center justify-center">
    <div class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="h-8 w-8 rounded-full bg-black text-white flex items-center justify-center">
        GC
      </span>
      <span class="self-center text-xl font-normal font-noto-serif whitespace-nowrap hidden sm:block">
        Grad Cafe - Data Analysis
      </span>
    </div>
  </div>
</nav>
