<section id="contact" class="snap-start h-[calc(100vh-3rem)] flex items-center justify-center bg-black">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2 class="mb-4 text-4xl tracking-tight font-jet-brains-mono text-center text-blue-300">Let's Get in Touch</h2>
      <p class="mb-8 lg:mb-16 font-light text-center text-gray-300 sm:text-xl font-inter">Interested in collaborating, discussing a project, or just want to connect? I’d love to hear from you—feel free to reach out.</p>
      
      <!-- Flash messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="mb-4">
            {% for category, message in messages %}
              <li class="text-sm text-white bg-{{ 'green-500' if category == 'success' else 'red-500' }} p-2 rounded" role="alert">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <form action="/send_message" method="POST" class="space-y-8">
          <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-400 font-inter">Your email</label>
              <input type="email" id="email" name="email" class="shadow-sm bg-gray-900 border border-gray-300 text-white text-sm rounded-lg block w-full p-2.5 placeholder-gray-400 focus:ring-primary-500 focus:border-primary-500 shadow-sm-light font-inter" placeholder="example@your-domain.com" required>
          </div>
          <div>
              <label for="subject" class="block mb-2 text-sm font-medium text-gray-400 font-inter">Subject</label>
              <input type="text" id="subject" name="subject" class="block p-3 w-full text-sm text-white bg-gray-900 rounded-lg border border-gray-300 shadow-sm placeholder-gray-400 focus:ring-primary-500 focus:border-primary-500 shadow-sm-light font-inter" placeholder="Let me know how we can help you" required>
          </div>
          <div class="sm:col-span-2">
              <label for="message" class="block mb-2 text-sm font-medium text-gray-400 font-inter">Message</label>
              <textarea id="message" name="message" rows="6" class="block p-2.5 w-full text-sm text-gray-300 bg-gray-900 rounded-lg shadow-sm border border-gray-300 placeholder-gray-400 focus:ring-primary-500 focus:border-primary-500 font-inter text-justify" placeholder="Type your message here..." required></textarea>
          </div>
          <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white sm:w-fit px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-900 transition font-inter">Send message</button>
      </form>
  </div>
</section>
