/* Apply custom fonts */
body, * {
  font-family: 'Roboto', sans-serif;
}

code, pre {
  font-family: 'JetBrains Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Big Shoulders Text', sans-serif;
}

blockquote {
  font-family: 'Shippori Mincho', serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-big-shoulders-text {
  font-family: 'Big Shoulders Text', sans-serif;
}

.font-shippori-mincho {
  font-family: 'Shippori Mincho', serif;
}

.font-jet-brains-mono {
   font-family: 'JetBrains Mono', monospace;
}